body {
  padding-top: 75px;
}

img {
  width: 100%;
}

.movie-view {
  background-color: white;
  padding: 20px;
}

.caps {
  text-transform: capitalize;
}

button {
  margin-top: 10px;
}

.bold {
  font-weight: bold;
}

.text-light {
  color: aliceblue;
}

$primary: #a19aff;
$body-bg: #f0efff;

@import '~bootstrap/scss/bootstrap.scss';